<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.text_field :handle %>
  </div>
  <div class="field">
    <%= f.text_field :release_authorization %>
  </div>
  <div class="field">
    <%= f.text_field :paypal_email %>
  </div>
  <div class="field">
    <%= f.text_field :keycard_number %>
  </div>

  <div class='field'>
    <%= f.label :birthday %>
    <%= datepicker :user, :birthday, @user.birthday %>
  </div>

  <div class="field">
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.text_field :mailing_address %>
  </div>
  <div class="field">
    <%= f.text_field :sponsor_1_name %>
  </div>
  <div class="field">
    <%= f.text_field :sponsor_2_name %>
  </div>
  <div class="field">
    <%= f.text_field :level %>
  </div>

  <div class='field'>
    <%= f.label :date_of_form %>
    <%= datepicker :user, :date_of_form, @user.date_of_form %>
  </div>

  <div class='field'>
    <%= f.label :date_joined %>
    <%= datepicker :user, :date_joined, @user.date_joined %>
  </div>

  <div class="field">
    <%= f.text_field :ec_name %>
  </div>
  <div class="field">
    <%= f.text_field :ec_relation %>
  </div>
  <div class="field">
    <%= f.text_field :ec_home %>
  </div>
  <div class="field">
    <%= f.text_field :ec_cell %>
  </div>
  <div class="field">
    <%= f.text_field :ec_second_name %>
  </div>
  <div class="field">
    <%= f.text_field :ec_second_relation %>
  </div>
  <div class="field">
    <%= f.text_field :ec_second_home %>
  </div>
  <div class="field">
    <%= f.text_field :ec_second_cell %>
  </div>
  <div class="field">
    <%= f.text_field :ec_allergies %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
