<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="well">
    <h3>Member Info</h3>
    <%= f.text_field :name, placeholder: 'Member Name' %>
    <%= f.text_field :handle, placeholder: 'Handle / Nick' %>
    <%= f.text_field :email, placeholder: 'Contact Email' %>
    <%= f.text_field :paypal_email, placeholder: 'Paypal Email' %>
    <%= f.text_field :keycard_number, placeholder: 'Keycard Number' %>
    <%= f.label :birthday %>
    <%= datepicker :user, :birthday, @user.birthday %>
    <%= f.text_field :phone_number, placeholder: 'Phone Number' %>
    <%= f.text_field :mailing_address, placeholder: 'Mailing Address' %>
    <%= f.text_field :level, placeholder: 'Membership Level' %>
  </div>
  <div class="well">
    <h3>Sponsors</h3>
    <%= f.text_field :sponsor_1_name, placeholder: 'Sponsor 1' %>
    <%= f.text_field :sponsor_2_name, placeholder: 'Sponsor 2' %>
  </div>

  <div class="well">
    <h3>Dates</h3>
    <%= f.label :date_of_form %>
    <%= datepicker :user, :date_of_form, @user.date_of_form %>
    <%= f.label :date_joined %>
    <%= datepicker :user, :date_joined, @user.date_joined %>
  </div>

  <div class="well">
    <h3>Emergency Contact Info</h3>
    <%= f.text_field :ec_name, placeholder: 'Name'%>
    <%= f.text_field :ec_relation, placeholder: 'Relationship' %>
    <%= f.text_field :ec_home, placeholder: 'Home Phone' %>
    <%= f.text_field :ec_cell, placeholder: 'Cell Phone' %>
    <%= f.text_field :ec_second_name, placeholder: 'Name' %>
    <%= f.text_field :ec_second_relation, placeholder: 'Relationship' %>
    <%= f.text_field :ec_second_home, placeholder: 'Home Address' %>
    <%= f.text_field :ec_second_cell, placeholder: 'Cell Phone' %>
    <%= f.text_field :ec_allergies, placeholder: 'Allergies' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
