<h1>Listing users</h1>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Handle</th>
    <th>Paypal email</th>
    <th>Phone number</th>
    <th>Level</th>
    <th>Date joined</th>
    <th>Last Payment</th>
  </tr>

<% @users.each_with_index do |user, i| %>
  <% late = ( u.latest_payment.transaction_time < (Time.now - 31.days) ) %>
  <tr class="<% 'late' if late %>">
    <td><%= i+1 %></td>
    <td><%= link_to user.name, edit_user_path(user) %></td>
    <td><%= user.handle %></td>
    <td><%= user.paypal_email %></td>
    <td><%= user.phone_number %></td>
    <td><%= user.level %></td>
    <td><%= user.date_joined %></td>
    <td><%= u.latest_payment.amount %> @ <%= u.latest_payment.transaction_time %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create New User', new_user_path %>
