<h1>Listing users</h1>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Name</th>
    <th>Handle</th>
    <th>Release authorization</th>
    <th>Paypal email</th>
    <th>Birthday</th>
    <th>Phone number</th>
    <th>Level</th>
    <th>Date joined</th>
    <th>Ec name</th>
    <th>Ec second name</th>
    <th>Ec allergies</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.handle %></td>
    <td><%= user.release_authorization %></td>
    <td><%= user.paypal_email %></td>
    <td><%= user.birthday %></td>
    <td><%= user.phone_number %></td>
    <td><%= user.level %></td>
    <td><%= user.date_joined %></td>
    <td><%= user.ec_name %></td>
    <td><%= user.ec_second_name %></td>
    <td><%= user.ec_allergies %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create New User', new_user_path %>
