<!--<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <%= notice %>
</div>
-->

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Create Payment', new_payment_path %> |
<%= link_to 'Back', users_path %>

<br /><br />
<div class="well">
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>
<p>
  <b>Handle:</b>
  <%= @user.handle %>
</p>

<p>
  <b>Release authorization:</b>
  <%= @user.release_authorization %>
</p>

<p>
  <b>Paypal email:</b>
  <%= @user.paypal_email %>
</p>

<p>
  <b>Keycard number:</b>
  <%= @user.keycard_number %>
</p>

<p>
  <b>Birthday:</b>
  <%= @user.birthday %>
</p>

<p>
  <b>Phone number:</b>
  <%= @user.phone_number %>
</p>

<p>
  <b>Mailing address:</b>
  <%= @user.mailing_address %>
</p>
</div>
<div class="well">
<p>
  <b>Sponsor 1 name:</b>
  <%= @user.sponsor_1_name %>
</p>

<p>
  <b>Sponsor 2 name:</b>
  <%= @user.sponsor_2_name %>
</p>

<p>
  <b>Level:</b>
  <%= @user.level %>
</p>
</div>
<div class="well">
<p>
  <b>Date of form:</b>
  <%= @user.date_of_form %>
</p>
<p>
  <b>Date joined:</b>
  <%= @user.date_joined %>
</p>
</div>
<div class="well">
<p>
  <b>Ec name:</b>
  <%= @user.ec_name %>
</p>

<p>
  <b>Ec relation:</b>
  <%= @user.ec_relation %>
</p>

<p>
  <b>Ec home:</b>
  <%= @user.ec_home %>
</p>

<p>
  <b>Ec cell:</b>
  <%= @user.ec_cell %>
</p>

<p>
  <b>Ec second name:</b>
  <%= @user.ec_second_name %>
</p>

<p>
  <b>Ec second relation:</b>
  <%= @user.ec_second_relation %>
</p>

<p>
  <b>Ec second home:</b>
  <%= @user.ec_second_home %>
</p>

<p>
  <b>Ec second cell:</b>
  <%= @user.ec_second_cell %>
</p>

<p>
  <b>Ec allergies:</b>
  <%= @user.ec_allergies %>
</p>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Create Payment', new_payment_path %> |
<%= link_to 'Back', users_path %>
