= form_for @unique_item, :html => { :class => 'form form-inline' } do |f|
  - if @unique_item.errors.any?
    - @unique_item.errors.full_messages.each do |msg|
      .alert.alert-error
        %li= msg

  .control-group
    = f.label :fuid, "FUID"
    - if f.object.fuid.blank?
      .controls= f.text_field :fuid, :class => 'span12'
    - else
      .controls.well
        = f.hidden_field :fuid
        %h4= f.object.fuid
    /.controls= f.text_field :fuid, :class => 'span12' 

  .control-group
    = f.check_box :loggable
    = f.label :loggable, :class => 'control-label'
  .control-group
    = f.check_box :ticketable
    = f.label :ticketable, :class => 'control-label'
  .control-group
    = f.label :photo
    .controls= f.file_field :photo
  .control-group
    = f.label :area, :class => 'control-label'
    .controls= f.select :area_id, Area.all.collect {|a| [a.name, a.id]}
  .control-group
    = f.label :name, :class => 'control-label'
    .controls= f.text_field :name, :class => 'span12'
  
  

  = f.submit :class => 'btn btn-info span12'

