= form_for @unique_item, :html => { :class => 'form form-inline' } do |f|
  - if @unique_item.errors.any?
    - @unique_item.errors.full_messages.each do |msg|
      .alert.alert-error
        %li= msg

  .control-group
    = f.check_box :loggable
    = f.label :loggable, :class => 'control-label'
  .control-group
    = f.check_box :ticketable
    = f.label :ticketable, :class => 'control-label'
  .control-group
    = f.label :area, :class => 'control-label'
    .controls= f.text_field :area, :class => 'span12'
  .control-group
    = f.label :name, :class => 'control-label'
    .controls= f.text_field :name, :class => 'span12'
  .control-group
    = f.label :photo, :class => 'control-label'
    .controls= f.text_field :photo, :class => 'span12'
  = f.submit :class => 'btn btn-success span12'
