= form_for(@unique_item) do |f|
  - if @unique_item.errors.any?
    #error_explanation
      %h2
        = pluralize(@unique_item.errors.count, "error")
        prohibited this unique_item from being saved:
      %ul
        - @unique_item.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :loggable
    %br/
    = f.check_box :loggable
  .field
    = f.label :ticketable
    %br/
    = f.check_box :ticketable
  .field
    = f.label :area
    %br/
    = f.text_field :area
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :photo
    %br/
    = f.text_field :photo
  .actions
    = f.submit
