= form_for @unique_item, :html => { :class => 'form form-inline' } do |f|
  - if @unique_item.errors.any?
    - @unique_item.errors.full_messages.each do |msg|
      .alert.alert-error
        %li= msg

  %fieldset
    .control-group
      = f.label :loggable, :class => 'control-label'
      .controls= f.check_box :loggable
    .control-group
      = f.label :ticketable, :class => 'control-label'
      .controls= f.check_box :ticketable
    .control-group
      = f.label :area, :class => 'control-label'
      .controls= f.text_field :area
    .control-group
      = f.label :name, :class => 'control-label'
      .controls= f.text_field :name
    .control-group
      = f.label :photo, :class => 'control-label'
      .controls= f.text_field :photo
    .actions
      = f.submit :class => 'btn btn-success'
