%p#notice= notice
%p
  %b Loggable:
  = @unique_item.loggable
%p
  %b Ticketable:
  = @unique_item.ticketable
%p
  %b Area:
  = @unique_item.area
%p
  %b Name:
  = @unique_item.name
%p
  %b Photo:
  = @unique_item.photo
.row-fluid
  %a.span12.btn.btn-success{href: edit_unique_item_path(@unique_item)}
    %h1 Edit
|
.row-fluid
  %a.span12.btn.btn-success{href: new_unique_item_path}
    %h1 Back