- if notice
  .row-fluid
    .alert.span12= notice

.row-fluid
  %h1.span8= @unique_item.name
  .span4.pull-right
    %a.btn.btn-success{href: edit_unique_item_path(@unique_item)}
      %h1 Edit
    %a.btn.btn-info{href: unique_items_path}
      %h1 Back

.row-fluid
  .span12= @unique_item.photo

.row-fluid
  .span12
    Area:
    = @unique_item.area

- if @unique_item.ticketable?
  .row-fluid
    %h3.span12
      Tickets
      %a.btn{href: new_unique_item_ticket_path(@unique_item)} Add
    - @unique_item.tickets.each do |ticket|
      %a.row-fluid{href: unique_item_ticket_path(@unique_item, ticket)}
        .span12.btn{class: ( ticket.status ? '' : 'btn-warning' )}
          (
          = ticket.user ? ticket.user.name : "USERNAME"
          )
          = ticket.body

.row-fluid
  %h3.span12
    Howtos/Tutorials
    %a.btn{href: new_unique_item_tutorial_path(@unique_item)} Add
  - @unique_item.tutorials.each do |tutorial|
    %a.row-fluid{href: tutorial.body.blank? ? tutorial.url : unique_item_tutorial_path(@unique_item, tutorial) }
      .span12.btn
        = tutorial.body.blank? ? tutorial.url : tutorial.body

.row-fluid
  %h3.span12 
    Caveats
    %a.btn{href: new_unique_item_caveat_path(@unique_item)} Add
  - @unique_item.caveats.each do |caveat|
    .row-fluid
      .span12
        = caveat.body

.row-fluid
  %h3.span12 
    Contacts
    %a.btn{href: new_unique_item_contact_path(@unique_item)} Add
  - @unique_item.contacts.each do |contact|
    .row-fluid
      .span12
        = [contact.handle, contact.name, contact.phone, contact.email].join '    --    '

- if @unique_item.loggable?
  .row-fluid
    %h3.span12
      Logs
      %a.btn{href: new_unique_item_log_path(@unique_item)} Add
    - @unique_item.logs.each do |log|
      .row-fluid
        .span12
          = log.body

%br/
%hr/
%br/

