<p id="notice"><%= notice %></p>

<p>
  <b>Fuid:</b>
  <%= @tutorial.fuid %>
</p>

<p>
  <b>User:</b>
  <%= @tutorial.user_id %>
</p>

<p>
  <b>Body:</b>
  <%= @tutorial.body %>
</p>

<p>
  <b>Url:</b>
  <%= @tutorial.url %>
</p>


<%= link_to 'Edit', edit_tutorial_path(@tutorial) %> |
<%= link_to 'Back', tutorials_path %>
