%p#notice= notice
%p
  %b Fuid:
  = @tutorial.fuid
%p
  %b User:
  = @tutorial.user_id
%p
  %b Body:
  = @tutorial.body
%p
  %b Url:
  = @tutorial.url
= link_to 'Edit', edit_tutorial_path(@tutorial)
|
\#{link_to 'Back', tutorials_path}
