%p#notice= notice
%p
  %b Fuid:
  = @tutorial.fuid
%p
  %b User:
  = @tutorial.user_id
%p
  %b Body:
  = @tutorial.body
%p
  %b Url:
  = @tutorial.url
= link_to 'Edit', edit_unique_item_tutorial_path(@tutorial.unique_item, @tutorial)
|
= link_to 'Back', unique_item_path(@tutorial.unique_item)
