%h1
  Object:
  = @tutorial.unique_item.name

%h5 Tutorial:

%p#notice= notice

- if @tutorial.user
  %p
    %b User:
    = @tutorial.user.name

%pre= @tutorial.body
%br/

.row-fluid
  = link_to 'Edit', edit_unique_item_tutorial_path(@tutorial.unique_item, @tutorial), :class => 'btn btn-info span12'