
%h1
  Ticket:
  = @ticket.unique_item.name
%p#notice= notice
%p
  %b User:
  = @ticket.user_id
%p
  %b Status:
  = @ticket.status
%p
  %b Body:
  = @ticket.body

- if @ticket.status
  .row-fluid
    = form_for [@ticket.unique_item, @ticket] do |f|
      = f.hidden_field :status, :value => false
      = f.submit 'Resolve Ticket', :class => 'btn btn-success span12'
- else
  .row-fluid
    = form_for [@ticket.unique_item, @ticket] do |f|
      = f.hidden_field :status, :value => true
      = f.submit 'Unresolve Ticket', :class => 'btn btn-warning span12'


.row-fluid
  = link_to 'Edit', edit_unique_item_ticket_path(@ticket.unique_item, @ticket), :class => 'btn 
