%p#notice= notice
%p
  %b Fuid:
  = @ticket.fuid
%p
  %b User:
  = @ticket.user_id
%p
  %b Status:
  = @ticket.status
%p
  %b Body:
  = @ticket.body
= link_to 'Edit', edit_unique_item_ticket_path(@ticket.unique_item, @ticket)
|
\#{link_to 'Back', unique_item_path(@ticket.unique_item)}
