= form_for [@contact.unique_item, @contact] do |f|
  - if @contact.errors.any?
    #error_explanation
      %h2
        = pluralize(@contact.errors.count, "error")
        prohibited this contact from being saved:
      %ul
        - @contact.errors.full_messages.each do |msg|
          %li= msg
  .row-fluid
    = f.text_field :phone, :placeholder => '(407) 123-4567', :class => 'span12'
  .row-fluid
    = f.text_field :email, :placeholder => 'derp@freemails.com (email)', :class => 'span12'
  .row-fluid
    = f.text_field :name, :placeholder => 'Derp Derpston (name)', :class => 'span12'
  .row-fluid
    = f.text_field :handle, :placeholder => 'derpsix123 (handle)'
  .row-fluid
    = f.submit :class => 'btn btn-info span12'
