%h1 Listing contacts
%table
  %tr
    %th Fuid
    %th Phone
    %th Email
    %th Name
    %th Handle
    %th
    %th
    %th
  - @contacts.each do |contact|
    %tr
      %td= contact.fuid
      %td= contact.phone
      %td= contact.email
      %td= contact.name
      %td= contact.handle
      %td= link_to 'Show', contact
      %td= link_to 'Edit', edit_contact_path(contact)
      %td= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Contact', new_unique_item_contact_path(@contact.unique_item)
