%p#notice= notice
%p
  %b Fuid:
  = @contact.fuid
%p
  %b Phone:
  = @contact.phone
%p
  %b Email:
  = @contact.email
%p
  %b Name:
  = @contact.name
%p
  %b Handle:
  = @contact.handle
= link_to 'Edit', edit_unique_item_contact_path(@contact.unique_item, @contact)
|
= link_to 'Back', unique_item_path(@contact.unique_item)
