<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @area.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @area.desc %>
</p>

<p>
  <b>Photo:</b>
  <%= @area.photo %>
</p>


<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
