= form_for [@caveat.unique_item, @caveat] do |f|
  - if @caveat.errors.any?
    #error_explanation
      %h2
        = pluralize(@caveat.errors.count, "error")
        prohibited this caveat from being saved:
      %ul
        - @caveat.errors.full_messages.each do |msg|
          %li= msg
  .row-fluid
    = f.text_area :body, :placeholder => 'Warnings about the object.', :class => 'span12'
  %br/
  .row-fluid
    = f.submit :class => 'btn btn-info span12'
