%p#notice= notice
%p
  %b Fuid:
  = @log.fuid
%p
  %b User:
  = @log.user_id
%p
  %b Body:
  = @log.body
= link_to 'Edit', edit_unique_item_log_path(@log.unique_item, @log)
|
= link_to 'Back', unique_item_path(@log.unique_item)
