<!DOCTYPE html>
<html>
<head>
  <title>Hackertracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Familab HackerTracker</a>
          <div class="navbar-content">
            <ul class="nav ">
              <li class="active">
                <%= link_to 'Home', root_path %>
                <!--<a href="#">Home</a>--> 
              </li>
              <li>
                <%= link_to 'Members', users_path %>
                <!--<a href="#">Members</a>--> 
              </li>
              <li>
                <%= link_to 'Payments', payments_path %>
              </li>
              <li>
                <%= link_to 'Sign in', new_user_session_path %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <a class="btn btn-large btn-primary btn-block visible-phone" href="#"><span class="btn-label">Sign Up Today!</span></a>
      <div class="row main-features"></div>
      <div class="row">
       <!-- <div class="span2">
          <ul class="nav nav-list">
            <li class="active">
              <%= link_to 'Member List', users_path %>
            </li>
            <li>
              <%= link_to 'Add Member', new_user_path %>
            </li>
            <li>
              <%= link_to 'View Payments', payments_path %>
            </li>
          </ul>
        </div>-->
        <div class="span10">
          
		<%= yield %>
          
        </div>
      </div>
      <div class="row"></div>
    </div>
    <div class="footer navbar-fixed-bottom">
      <div class="navbar-inner"></div>
    </div>
  </body>
</body>
</html>
